<div id="contactUs">
    Contact us on <a href="https://api.whatsapp.com/send?phone=918950412568" target="_blank"><i class="fab fa-whatsapp"></i></a> +91-8950412568
    <span> | Follow us on Instagram 
      <a href="https://www.instagram.com/hazels_creation" target="_blank">
        <i class="fab fa-instagram"></i>
      </a> 
    </span>
    <span> | Get updates on Facebook 
      <a href="https://www.facebook.com/Hazels-creation-109014924146521" target="_blank"> 
        <i class="fab fa-facebook"></i>
      </a>
    </span>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mb-2">
      <a class="navbar-brand" href="/"><i>Hazel's Creation</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-6 mb-2 align-self-center">
      <div class="input-group justify-content-end">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" placeholder="Search"/>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>        
</div>