<div class="app-header">
  <div class="container-fluid">
    <div class="row" style="align-items: center;">
      <div class="col-md-3 col-xs-2">
        <a class="navbar-brand" href="/"
          ><img id="logo" src="../../assets/images/logohc copy.png"
        /></a>
      </div>
      <div class="col-md-9">
        <div class="contactUs">
          Contact us on +91-8950412568
          <a
            href="https://api.whatsapp.com/send?phone=918950412568"
            target="_blank"
            ><i class="fab fa-whatsapp"></i
          ></a>
          <span>
            | Follow us on Instagram
            <a href="https://www.instagram.com/hazels_creation" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </span>
          <span>
            | Get updates on Facebook
            <a
              href="https://www.facebook.com/Hazels-creation-109014924146521"
              target="_blank"
            >
              <i class="fab fa-facebook"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
