<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12" id="aboutUsContent">
            We at Hazel's creation are trying to keep the rich Indian Handicraft Culture alive by making handcrafted home decor and personalised gifts for different occasions, moreover we believe in providing high-quality products at a reasonable price so that handcrafted products become accessible to all that otherwise are a bit costly. Handcrafted products definitely are supposed to add a lot of appreciation, worth to your life.
            The pieces you see or purchase here on Hazel’s Creation are pieces of persistent learning, precision-crafted, we try to create smiles all around through our amazing products as we are committed to providing the best and always promise to be more creative in every new product. Each Handcrafted product always carries with itself a piece of the heart of the artisan because the Artisan prepares the product after a lot of failures and tries to bring out a masterpiece, keeping in mind every detailing possible of the product.
        </div>
    </div>
</div>