<div class="productCategories">
    <ul>
        <li (click)="onClickCategory('featured')" [ngClass]="selectedCategory === 'featured' ? 'active' : ''">
            New Arrivals
        </li>
        <li (click)="onClickCategory('homedecor')" [ngClass]="selectedCategory === 'homedecor' ? 'active' : ''">
            Home Decor
        </li>
        <li [ngClass]="dropdownOpen ? 'active dropdown' : 'dropdown'" (click)="toggleDropdown($event)">
            Pocket Friendly
            <span class="dropdown-icon">{{ dropdownOpen ? '▲' : '▼' }}</span>
            <ul class="subMenu" *ngIf="dropdownOpen">
              <li (click)="onClickCategory('under50')"
                  [ngClass]="selectedCategory === 'under50' ? 'active' : ''">
                Under 50
              </li>
              <li (click)="onClickCategory('under99')"
                  [ngClass]="selectedCategory === 'under99' ? 'active' : ''">
                Under 99
              </li>
              <li (click)="onClickCategory('under199')"
                  [ngClass]="selectedCategory === 'under199' ? 'active' : ''">
                  Under 199
              </li>
              <li (click)="onClickCategory('under499')"
                  [ngClass]="selectedCategory === 'under499' ? 'active' : ''">
                  Under 499
              </li>
            </ul>
          </li>
        <li (click)="onClickCategory('festivedecor')" [ngClass]="selectedCategory === 'festivedecor' ? 'active' : ''">
            Festive Decor
        </li>
        <li (click)="onClickCategory('bottleart')" [ngClass]="selectedCategory === 'bottleart' ? 'active' : ''">
            Bottle Art
        </li>
    </ul>
</div>