#viewOneProduct {
    .container {
        background-color: white;
        border-radius: 10px;

        #productDesc {
            padding: 30px 20px;
            .whatsappIcon {
                color: #7a58cc !important;
            }
            #backToProductLabel {
                cursor: pointer;
                color: #7a58cc;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
        

        #carouselContainer {
            padding: 30px 0px;
            // height: 420px;
            .carousel-inner img {
                width: 100%;
                height: 100%;
            }
            #custCarousel .carousel-indicators {
                position: static;
                margin-top: 20px;
            }
            #custCarousel .carousel-indicators > li {
                width: 100px;
                height: 100%;
            }
            #custCarousel .carousel-indicators li img {
                display: block;
                opacity: 0.5;
            }
            #custCarousel .carousel-indicators li.active img {
                opacity: 1;
            }
            #custCarousel .carousel-indicators li:hover img {
                opacity: 0.75;
            }
            .carousel-item img {
                width: 95%;
            }
        }
    }
} 