/* You can add global styles to this file, and also import other style files */
body {
    .pagination {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0px;
        li {
            cursor: pointer;
        }
    }
    .soldOutText {
        color: red;
    }
    .priceText, .page-link {
        color: #7a58cc;
        font-weight: 600;
    }
    .page-item.active .page-link {
        background-color: #7a58cc;
        border-color: #7a58cc;
    }
    .page-link:hover {
        background-color: #7a58cc;
        border-color: #7a58cc;
        color: white;
    }
    .strikeThrough {
        text-decoration: line-through;
        padding-right: 10px;
        opacity: 0.5;
    }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
